<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="WindTurbineTcpBinding"
                 transferMode="Streamed"
                 maxReceivedMessageSize="104857600"
                 maxBufferSize="1048576" />
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint
        name="WindTurbineTransferService"
        address="net.tcp://localhost:4002/WindTurbineTransfer"
        binding="netTcpBinding"
        bindingConfiguration="WindTurbineTcpBinding"
        contract="Common.IWindTurbineTransfer" />
    </client>
  </system.serviceModel>
</configuration>
