<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="dataRootPath" value="Data" />
    <add key="OverspeedThreshold" value="1800" />
    <add key="RpmOutOfBandPct" value="25" />
    <add key="PfMinThreshold" value="0.85" />
    <add key="ReactiveSpikeThresholdKvar" value="50" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="WindTurbineTcpBinding"
                 transferMode="Streamed"
                 maxReceivedMessageSize="104857600"
                 maxBufferSize="1048576" />
      </netTcpBinding>
    </bindings>

    <services>
      <service name="Service.WindTurbineTransferService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4002" />
          </baseAddresses>
        </host>
        <endpoint
          address="WindTurbineTransfer"
          binding="netTcpBinding"
          bindingConfiguration="WindTurbineTcpBinding"
          contract="Common.IWindTurbineTransfer" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
